.blog-section {
  position: relative;
  padding: 150px 0px 140px;
}
.styled-pagination li {
  position: relative;
  display: inline-block;
  margin: 0px 5px 7px 0px;
}
.styled-pagination li a {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 8px 5px;
  font-size: 14px;
  text-transform: capitalize;
  min-width: 38px;
  color: #777777;
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}
.styled-pagination li a:hover,
.styled-pagination li a.active,
.styled-pagination li a.next:hover {
  color: #ffffff;
  border-color: #ff8201;
  background-color: #ff8201;
}
.styled-pagination li a.next {
  padding: 10px 24px 7px;
  border-radius: 50px;
  border: 1px solid #777777;
}
