.blog-section .inner-box .content-column .inner {
  position: relative;
  padding: 115px 0px 100px;
}

.blog-section .inner-box .content-column .inner .posted {
  position: relative;
  font-size: 14px;
  color: #777777;
  margin-bottom: 4px;
}
.blog-section .inner-box .content-column .inner .posted:before {
  position: absolute;
  content: "";
  right: 102%;
  top: 10px;
  width: 60px;
  height: 1px;
  background-color: #ff8201;
}

.blog-section .inner-box .content-column .inner h3 {
  position: relative;
  line-height: 1em;
}

.blog-section .inner-box .content-column .inner h3 a {
  position: relative;
  color: #232323;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.blog-section .inner-box .content-column .inner .text {
  position: relative;
  color: #777777;
  font-size: 14px;
  margin-top: 30px;
}
.blog-section .inner-box .content-column .inner .view-more {
  position: relative;
  font-size: 13px;
  font-weight: 800;
  color: #ff8201;
  float: right;
  margin-top: 40px;
  text-transform: uppercase;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.blog-section .owl-carousel .owl-nav {
  margin: 0px !important;
  position: absolute;
  right: 0px;
  top: 0px;
  font-family: "Catamaran", sans-serif;
}

.blog-section .owl-carousel .owl-nav [class*="owl-"] {
  position: relative;
  display: inline-block;
  margin: 0px 0px 0px 6px;
  padding: 3px 18px !important;
  border: 1px solid transparent;
  color: #cccccc;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 50px;
  text-transform: uppercase;
  background: none !important;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-family: "Catamaran", sans-serif;
}

.blog-section .owl-carousel .owl-nav [class*="owl-"] svg {
  width: 18px;
  margin-right: 5px;
  height: 18px;
}

.blog-section .owl-carousel .owl-nav [class*="owl-"]:hover {
  color: #1c1c1c;
  border-color: #888888;
}
