.btn-zagreb {
  line-height: 24px;
  border-width: 2px;
  padding: 14px 43px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ff8201;
  font-size: 14px;
  font-weight: 800;
  border-radius: 50px;
  background-color: #ff8201;
  display: inline-block;
  transition: all 0.2s ease-out 0s;
}

.btn-zagreb:hover {
  background-color: transparent;
  color: #ff8201;
}

.btn-zagreb.outline {
  background-color: transparent;
  border-color: #ff8201;
  color: #ff8201;
}

.btn-zagreb.outline:hover {
  background-color: #ff8201;
  border-color: #ff8201;
  color: white;
}

.btn-zagreb.outline-light {
  background-color: transparent;
  border-color: white;
}

.btn-zagreb.outline-light:hover {
  background-color: #ff8201;
  border-color: #ff8201;
  color: white;
}
