.main-slider .banner-wrapper {
  max-height: 830px;
}

.main-slider .carousel-indicators {
  bottom: 50px;
}

.main-slider .carousel-indicators button {
  background: none !important;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 0px 7px;
  opacity: 1;
  transition: background-color 0.2s;
}
.main-slider .carousel-indicators button:hover,
.main-slider .carousel-indicators button.active {
  background: #ff8201 !important;
}

.main-slider .carousel-inner .carousel-item {
  background-position: center;
  background-size: cover;
}

.main-slider .carousel-inner .carousel-caption {
  top: 38%;
}

.main-slider .carousel-inner .carousel-caption .title {
  line-height: 57px;
  letter-spacing: 1px;
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
  color: white;
  animation-delay: 0.5s;
}

.main-slider .carousel-inner .carousel-caption .title span {
  letter-spacing: 1px;
  font-size: 44px;
  color: rgb(255, 130, 1);
}

.main-slider .carousel-inner .carousel-caption .subtitle {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  text-align: left;
  animation-delay: 0.5s;
}

.main-slider .carousel-inner .carousel-caption .btn-box {
  color: white;
  text-align: left;
  animation-delay: 0.5s;
}

.main-slider .carousel-inner .carusel-center .title,
.main-slider .carousel-inner .carusel-center .subtitle,
.main-slider .carousel-inner .carusel-center .btn-box {
  text-align: center;
}

.main-slider button > svg {
  font-size: 22px;
  border: 1px solid white;
  height: 54px;
  line-height: 48px;
  width: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 12px;
}

.main-slider button:hover > svg {
  background: #fa6f1c;
  border-color: #fa6f1c;
}

.main-slider .carousel-indicators,
.main-slider .carousel > button {
  transition: opacity 0.3s;
  opacity: 0;
}
.main-slider:hover .carousel-indicators,
.main-slider:hover button {
  opacity: 1;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width: 1140px) {
  .main-slider .carousel-inner .carousel-caption .title {
    font-size: 42px;
  }
  .main-slider .carousel-inner .carousel-caption .title span {
    font-size: 42px;
  }
}
@media only screen and (max-width: 1024px) {
  .main-slider .carousel-inner .carousel-caption .title {
    font-size: 38px;
  }
  .main-slider .carousel-inner .carousel-caption .title span {
    font-size: 38px;
  }
}
@media only screen and (max-width: 992px) {
  .main-slider .carousel-inner .carousel-caption .title {
    font-size: 32px;
  }
  .main-slider .carousel-inner .carousel-caption .title span {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  .main-slider .carousel-inner .carousel-caption {
    display: none !important;
  }
}
